.head-img-container {
    position: relative;
    width: 1200px;
    margin: auto;
}
.img-wrapper {
    position: relative;
    text-align: center;
}
.head-img{
    text-align: center;
}

.img-caption {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
}
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
} 
.left-arrow {
    left: 0;
}

.right-arrow {
    right: 0;
}

.arrow:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
